/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevents body from having a scrollbar */
}

/* Sidebar styles */
.left-panel {
    width: 20%;  /* Adjust width of left-panel */
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto; /* Allows scrolling if content overflows */
}

.add-ssh-connection-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.add-ssh-connection-button:hover {
    background-color: #0056b3;
}

.ssh-connection-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Ensures the list takes available space */
}

.ssh-connection-item {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    cursor: pointer;
}

.ssh-connection-item:hover {
    background-color: #f0f0f0;
}

/* Right panel styles */
.right-panel {
    width: 80%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensures the terminal does not overflow */
}

.terminal-container {
    flex-grow: 1;
    display: flex;
    background-color: black;
    overflow: hidden !important; /* Prevents scrollbars in the terminal container */
}

/* Terminal specific styles */
#terminal {
    width: 100%;
    height: 100%;
}

/* Override xterm.js default styles */
.xterm {
    overflow: hidden !important; /* Prevent scrollbars */
}

.xterm-viewport {
    overflow-y: hidden !important; /* Prevent vertical scrollbar */
    overflow-x: hidden !important; /* Prevent horizontal scrollbar */
}

/* Logout button styles */
.logout-button {
    align-self: flex-end; /* Ensures the button is at the bottom */
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #45a049;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

input[type='text'],
input[type='password'],
input[type='number'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button[type='submit'] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #45a049;
}
